@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c1c3c455;
}

.ff-roboto {
    font-family: var(--fontfamily);
}

.fc-second {
    color: var(--secondary);
}

.fc-prime {
    color: var(--primary);
}

:root {
    --primary: #6c757d;
    --secondary: #4c4c5c85;
    --bacgroundblue: rgb(52, 140, 212);
    --indigo: #5d6dc3;
    --pink: #e061c9;
    --red: #f36270;
    --orange: #fd7e14;
    --yellow: #f9bc0b;
    --green: #3ec396;
    --teal: #02a8b5;
    --cyan: #4fbde9;
    --black: #00000092;
    --white: #fff;
    --gray: #8a969c;
    --dangerred: #cf535f;
    --gray-dark: #343a40;
    --lightpurple: #9368f3;
    --fontfamily: "Roboto";
    --font: "Nunito Sans", serif;

}

.light-dark-gray {
    color: rgba(84, 80, 80, 0.727);
}

.container {
    width: 100%;
    height: 100vh;
}

.font-nunito {
    font-family: var(--font);
}

/* |..common classes::| */

img {
    width: 100%;
}

.border-left-none{
    border-left: none;
}
.border-right-none{
    border-right: none;
}
.border-bottom-white{
    border-bottom: 1px solid #ffffff25;
}
.border-all{
    border: 1px solid rgba(0, 0, 0, 0.109);
}
.light-gray-black {
    color: rgba(0, 0, 0, 0.692);
}

.light-black {
    color: #000000b3;
}

.grey {
    color: #4c4c5ce8;
}

.bg-transparent{
    background-color: rgba(128, 128, 128, 0.076);
}
.dark {
    color: #00000097;
}

.black-dark {
    color: rgba(9, 1, 1, 0.828);
}

.adv-color {
    color: rgba(135, 133, 133, 0.863);
}

.bg-light {
    background-color: rgb(238, 242, 247);
}

.col-white{
    color: white;
}
.row {
    display: flex;
    flex-wrap: wrap;
}



.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-end {
    justify-content: end;
}

.justify-center {
    justify-content: center;
}

.center-content {
    align-content: center;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.w-40 {
    width: 40%;
    padding: 10px;
}

.w-8 {
    width: 8%;
    padding: 10px;
}

.w-45 {
    width: 45%;
    padding: 10px;
}
.w-48 {
    width: 48%;
    padding: 10px;
}
.w-49 {
    width: 49%;
    padding: 10px;
}
.w-23{
    width: 23%;
    padding: 10px;
}

.w-27 {
    width: 27%;
    padding: 10px;
}
.w-25 {
    width: 25%;
    padding: 10px;
}

.w-28 {
    width: 27%;
    padding: 10px;
}

.w-50 {
    width: 50%;
    padding: 10px;   
}

.w-65 {
    width: 65%;
}

.w-22 {
    width: 22%;
    padding: 10px;
}

.w-13 {
    width: 13%;
    padding: 10px;
}

.w-33 {
    width: 33.3333%;
    padding: 10px;
}

.w-35 {
    width: 35%;
    padding: 10px;
}

.w-70 {
    width: 70%;
    padding: 10px;
}
.w-75 {
    width: 75%;
    padding: 10px;
}

.w-30 {
    width: 30%;
    padding: 10px;
}

.w-20 {
    width: 20%;
    padding: 10px;
}

.w-80 {
    width: 80%;
    padding: 10px;
}

.w-60 {
    width: 60%;
    padding: 10px;
}

.w-55 {
    width: 55%;
    padding: 10px;
}

.w-87 {
    width: 87%;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

.w-90 {
    width: 90%;
    padding: 10px;
}

.w-10 {
    width: 10%;
    padding: 10px;
}

.tt-capital {
    text-transform: capitalize;
}

.tt-upper {
    text-transform: uppercase;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600px;
}

.fw-700 {
    font-weight: 700;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.bg-white {
    background-color: var(--white);
}

/* padding margin classes */

.mt-10 {
    margin-top: 10px;
}

.padding-to-10px {
    padding-top: 10px;
}

.pl-5{
    padding-left: 5px;
}
.py-0 {
    padding: 0;
}

.p-0 {
    padding: 0;
}
.pl-0 {
    padding-left: 0;
}
.pb-2{
    padding-bottom: 5px;
}

.py-10 {
    padding: 10px 0px;
}

.m-0 {
    margin: 0;
}

.p-10{
    padding: 10px;
}
.p-5{
    padding: 5px;
}

.ml-0 {
    margin-left: 0px;
}
.ml-5 {
    margin-left: 5px;
}
.mt-0 {
    margin-top: px;
}
.mt-8 {
    margin-top: 8px;
}

.pt-0{
    padding-top: 0;
}
.pt-10{
    padding-top: 10px;
}
.pt-5{
    padding-top: 3px;
}
.p-tb-5 {
    padding: 5px 0;
}

.p-lr-10 {
    padding: 0 10px;
}

.pt-75 {
    padding-top: 75px;
}

.pl-65{
    padding-left: 65px;
}
.pl-27{
    padding-left: 27px;
}

.mt-3 {
    margin-top: 3px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-0{
    margin-bottom: 0px;
}

/* |..header..|    */

header {
    position: fixed;
    width: 100%;
    z-index: 99999;
}

.coman-row {
    background-color: var(--bacgroundblue);
    width: 100%;
}

.contry-img {
    width: 24px;
    border-radius: 6px;
}

.right-side-info {
    gap: 20px;
    height: 100%;
}

.right-side-info svg {
    color: var(--white);
}

.costmer-img img {
    max-width: 35px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 12px;
}

.last-bg {
    background-color: #ffffff1a;
    height: 100%;
    margin-left: 20px;
    padding-right: 20px;
}

.left-side-info {
    padding: 20px 0 20px 20px;
}

.left-side-info img {
    max-width: 135px;
    margin-right: 40px;
}

.left-side-info i.fa-solid.fa-bars {
    color: var(--white);
    font-size: 20px;
}

.search-container {
    margin-left: 40px;
    position: relative;
}

.search-container input {
    padding: 10px 10px 10px 35px;
    border-radius: 20px;
    border: none;
    background-color: #ffffff1a;
    color: var(--white);
    position: relative;
    z-index: 0;
}

.search-container button {
    background: transparent;
    border: none;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white);
}

input::placeholder {
    color: var(--white);
}

.custmear-name p {
    color: var(--white);
}

.custmear-name {
    gap: 10px;
}

.fa-angle-down {
    color: var(--white);
}


/* |..section-navigation..| */


.side-nav {
    padding-left: 20px;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 13%;
    padding-top: 80px;
}

.side-nav-item {
    padding-top: 12px;
    padding-left: 10px;
}

.side-nav-title {
    letter-spacing: 1.3px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.border {
    border: 1px solid rgba(255, 0, 0, 0.188);
}

.link-3 {
    color: var(--dangerred);
    padding-right: 25px;
}

.menu-text {
    margin-left: 17px;
}

.h3-hover {
    transition: all 0.2s;
    color: var(--gray);
}

.h3-hover:hover {
    color: var(--cyan);
}

.fa-angle-right {
    color: var(--gray);
    padding-right: 18px;
}

.multi-level {
    margin-left: -3px;
}

.navigation {
    padding-left: 2px;
}

.view-voice {
    padding-left: 5px;
}

.map-nav {
    margin: 0 14px;
}

.fa-angle-right-dash {
    padding-left: 5px;
}

.head-content-foot {
    padding: 10px;
}

.card {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.card-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 5px;
    background-color: #3ec3974f;
}

.last-month {
    padding-left: 5px;
}

.fa-arrow-up {
    padding-top: 5px;
    color: var(--green);
}

.doll {
    color: #000000b7;
}

.fa-wallet {
    color: var(--green);
}

.svg-card-icon {
    color: var(--cyan);
    background-color: #02a9b526;
}

.user {
    color: var(--orange);
    background-color: #fd7d144a;
}

.percent-people {
    color: var(--red);
}

.ratio {
    color: var(--cyan);
    background-color: #4fbde960;
}

.static {
    padding: 20px;
    color: #000000b7;
}

.income-row {
    background-color: #eef2f780;
}

.income-box {
    padding: 15px;
}

.col-blue-svg {
    color: rgb(62, 195, 50);
}

.doll-dark {
    color: #000000a9;
    padding-left: 5px;
}

.svg-section {
    padding-top: 5px;
}

.col-red {
    color: var(--red);
}

.sky-dot {
    width: 5px;
    height: 5px;
    padding: 7px;
    border-radius: 100%;
    background-color: #02a8b5;
}

.rate {
    padding-left: 5px;
}

.sky-purple {
    width: 5px;
    height: 5px;
    padding: 7px;
    border-radius: 100%;
    background-color: var(--indigo);
    margin-left: 10px;
}

.rate-value {
    padding: 20px 0;
}

.card-55 {
    margin-left: 10px;
}

.revuenue {
    height: 50vh;
}

.revenue-45 {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.238);
}

.svg-block {
    color: green;
    width: 14px;
    height: 15px;
    border: 2px solid green;
    border-radius: 10%;
    margin-left: 40px;
}

.rev-width {
    border-right: 1px dotted rgba(0, 0, 0, 0.238);
    border-bottom: 1px dotted rgba(0, 0, 0, 0.238);
    text-align: center;
    padding: 25px;
}

.dark-span {
    padding-left: 10px;
}

.col-svg-red {
    color: red;
    width: 14px;
    height: 14px;
    border: 2px solid red;
    border-radius: 10%;
    margin-left: 40px;
}

.bi-bar-chart {
    margin-left: 50px;
}

.green-ratio-img {
    padding: 13px;
}

.padding {
    padding: 10px 0px;
}

/* first w-33  */

.head-users {
    padding: 10px;
    margin-left: 10px;
}

.new-trans {
    margin: 0;
    padding: 10px;
}

.users-detail {
    padding: 10px;
    margin-left: 10px;
}

.import-box {
    border: none;
    background-color: #eef2f7ab;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.5s;
}

.import-box:hover {
    color: rgb(76, 76, 92, 0.5);
    background-color: #f6f7fb;
    border-color: #f6f7fb;
}

.export-box {
    background-color: #348cd4;
    color: #ffff;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s;
}

.export-box:hover {
    background-color: #0a61a9f3;
}

.bi-arrow-clockwise {
    padding-left: 5px;
}

.active-user {
    text-align: center;
    background-color: rgb(238, 242, 247);
    padding: 10px;
    margin-left: 10px;
}

.avtar-img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
}

.border-rigth-0 {
    border-right: 0px solid transparent;
}

.border-bottom-color {
    border-bottom: 1px solid rgba(0, 0, 0, 0.109);
}

.news-card {
    margin-left: 10px;
}

.active-pad {
    padding-left: 5px;
}

.fa-circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.role-div {
    margin-left: -17px;
}

.three-vertical-dot {
    padding-left: 25px;
}

.pending-color {
    background-color: rgb(249, 188, 11);
}

.inactive-color {
    background-color: var(--red);
}

.number-of-user-showing {
    padding: 30px;
    margin-left: 10px;
}

.box-bg {
    width: 25px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.238);
    border-radius: 4px;
    padding-top: 3px;
    margin: 0px 5px;
}

nav ul li:nth-child(2) {
    color: #ffff;
    background-color: #348CD4;
    border: none;
}

.hover {
    transition: all 1s;
}

.hover:hover {
    background-color: rgba(128, 128, 128, 0.14);
    color: #348CD4;
}

.hover:hover i {
    color: #348CD4;
}

/* second w-33 tb-scroll */

.border-trans {
    border-bottom: 1px dashed rgba(128, 128, 128, 0.338);
}

.scroll-bar {
    overflow-y: scroll;
    height: 465px;
}

.icon-img-box {
    width: 40px;
    height: 40px;
    border: 1px solid #e1eef9;
    border-radius: 100%;
    padding: 7px;
    color: rgb(79, 189, 233);
    background-color: #e5f5fc;
    position: relative;
    z-index: 1;
    top: -18px;
    left: 30px;
}

.icon-img-box::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 80px;
    background-color: #eaecf5;
    bottom: 100%;
    left: 45%;
    z-index: -1;
    ;
}

.sold-item {
    padding: 10px;
}

.hover-sold {
    transition: all 0.5s;
}

.hover-sold:hover {
    color: var(--cyan);
}

.scroll-bar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #9c9fa1;
}

.down-arrow {
    color: var(--green);
}

.text-success {
    color: var(--green);
}

.transaction {
    margin-left: 10px;
    padding: 10px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.192);

}

.dol {
    color: var(--green);
}

.text-success-red {
    color: var(--red);
}

.transaction-red {
    margin-left: 12px;
}

.scrollbar-y {
    height: 465px;
    overflow-y: scroll;
}

.scrollbar-y::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.scrollbar-y::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #9c9fa1;
}


/* view-invoice */


.invoice-h1 {
    padding-top: 30px;
    color: #000000aa;
}

.abstack-bill {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

.row .w-10 img {}

.paid-box {
    /* border: 1px solid black; */
    display: inline;
    background-color: #e2f6ef;
    color: rgb(62, 195, 151);
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
}

.invoice-form {
    padding-left: 10px;
    padding-top: 20px;
}

.invoice-form h5 {
    color: #000000d2;
    padding-bottom: 10px;
    font-family: var(--fontfamily);
    margin-bottom: 10px;
}

.invoice-form h6 {
    color: #000000af;
    font-size: 14px;
    font-family: var(--fontfamily);
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.invoice-form span {
    font-family: var(--fontfamily);
    color: #00000046;
    font-size: 14px;
}

.address {
    font-family: var(--fontfamily);
    color: #575454a8;
    font-size: 14px;
    padding-bottom: 5px;

}

.address p {
    /* padding-bottom: 10px;     */
}

.phone {
    font-family: var(--fontfamily);
    color: #575454a8;
    font-size: 14px;
    padding-bottom: 20px;

}

.in-date {
    font-family: var(--fontfamily);
    color: #575454a8;
    font-size: 14px;
    color: #000000d2;
}

.date-ap {
    font-family: var(--fontfamily);
    color: #575454a8;
    font-size: 14px;
    padding-top: 5px;
}

.dashtag {
    font-family: var(--fontfamily);
    color: #575454a8;
    font-size: 15px;

}

.product-details-head {
    margin-left: 20px;
    margin-right: 20px;
}

.details-of-prod {
    text-transform: capitalize;
    font-size: 15px;
    font-family: var(--font);
    color: #4C4C5C;
    font-weight: 600;
}

.Quantity {
    color: #4C4C5C;
    font-weight: 600;
    font-size: 15px;
    font-family: var(--font);
    text-transform: capitalize;
}

.details-svg {
    margin-left: 20px;
    margin-right: 20px;
}

.development {
    padding-left: 10px;
}

.React {
    padding-left: 3px;
}

.flower-row {
    padding: 10px;
}

.flower-quantity-units {
    color: #4c4c5cb5;
    /* font-weight: 650; */
}

.advance {
    color: #4c4c5ca8;
    font-weight: 500;
    font-size: 14px;
    font-family: var(--font);
}

.sub-total {
    margin-left: 20px;
    margin-right: 20px;
}

.total {
    color: #4C4C5C;
    font-weight: 500;
    font-size: 15px;
    font-family: var(--font);
    text-transform: capitalize;
}

.free {
    color: #4c4c5c97;
}

.note {
    font-family: var(--font);
    font-size: 14px;
    color: #4C4C5C;
    margin: 20px;
    padding: 10px;
    /* background-color: rgb( 238, 242, 247); */
    border-radius: 10px;
}

.congratulations {
    font-family: var(--font);
    font-size: 14px;
    color: #4C4C5C;
    margin: 20px;
    padding: 10px;
}

.signature {
    width: 150px;
    height: 50px;
    /* margin: 10px; */
    /* margin-left: 10px; */
    padding-left: 30px;
}

.authorised {
    padding-top: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #000000c0;
}


/* extended ui = dragula */

.drag-and-drop {
    margin: 20px;
}

.drag {
    padding: 15px;
    font-weight: 700;
    color: #101111c9;
    border-color: #d2d3d4;
    border-style: dashed;
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.specify {
    padding: 10px;
    padding-top: 20px;
    font-size: 14px;
    color: #1011117f;
    margin-left: 6px;
}

.strong {
    color: var(--cyan);
    padding-left: 3px;
    text-transform: lowercase;
}

.lorem {
    font-size: 15px;
    padding: 20px;
    margin-top: 10px;
    background-color: #348cd4;
    color: #fff;
    border-radius: 5px;
}

.someone {
    padding-top: 10px;
}

.ipsum {
    background-color: #9368f3;
}

.dolor {
    background-color: #35a680;
}

.sit {
    background-color: rgb(79, 189, 233);
}

.amet {
    background-color: rgb(249, 188, 11);
}

.elit {
    background-color: rgb(243, 98, 112);
}

.stuff {
    margin: 20px;
    /* padding: 10px 0; */
}

.positions {
    margin: 10px;
}

.part {
    padding: 20px;
    font-size: 20px;
}

.lady-img img {
    border-radius: 100px;
}

.fst-italic {
    /* font-style: italic; */
    font-size: 12px;
    color: #00000086;
    font-weight: 600;
}

.ceo {
    font-size: 14px;
    padding-bottom: 10px;
    color: #000000a2;
    font-weight: 500;
    padding-left: 5px;
    font-weight: 600;
}

.bond {
    margin-bottom: 3px;
    font-weight: 400;
    padding-left: 5px;
    font-size: 16px;
    font-weight: 600;
}

.card {
    margin: 10px;
    margin-bottom: 10px;
}
.data{
    margin: 20px;
    margin-bottom: 0px;
    /* background-color: rgb(238,242,247); */
    padding-bottom: 20px;
}
.handle{
    margin: 20px;
}
.up-down{
    /* padding-top: 10px; */
    color: #0000009e;
    font-size: 18px;
}

     /* abstack>>table>basic table */

.base{
    color: #000000b5;
}
.my-tabel{
    margin: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.card-head{
    font-family: var(--fontfamily);
    text-transform: capitalize;
    font-weight: 700;
    color: #101111c9;
    font-size: 14px;
    border-color: #d2d3d4;
    border-style: dashed;
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 15px;
    padding-left: 20px;
}
.text-mute{
    font-weight: 600;
    font-size: 14px;
    font-family: var(--font);
    padding: 30px;
    padding-bottom: 0;
}
.blue{
    color: #02a9b5ad;
}
.name-number{
    padding: 20px;
    text-transform: capitalize;
    font-size: 15px;
}
.yes{
    padding:3px 8px;
    color: #fff;
    background-color: #3ec396;
    border: none;
    border-radius: 100px;
    text-transform: capitalize  ;
    font-family: var(--font);
}
.no{
    padding:3px 8px;
    color: #4c4c5c;
    background-color:#f6f7fb;
    border: none;
    border-radius: 100px;
    text-transform: capitalize  ;
    font-family: var(--font);
}
.dark-no{
    color: grey;
    margin-right: 6px;
    
}
.div-pad{
    padding: 10px;
}
.dummy-black{
    color: #FFF;
   
    background-color: #000000db;
}

.stripped-rows{
    padding-top: 0;
    margin-top: 0;
}
.table-head-option{
    padding-top: 0;
    margin-top: 0;
    padding-left: 0;

}
.deliver{
    background-color: #fff;
}
.shipped-del{
    padding-left: 8px;
}
.border-circle-yellow{
    color: rgb(249,188,11);
}
.border-circle-green{
 color: rgb(62,195,150);
    
}
.process{
    position: relative;

}
.process::after{
    position: absolute;
    content: "";
    width: 120px;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(62,195,150);
    top: -8px;
    left: 0px;
}



.process-1{
    position: relative;
}
.process-1::after{
    position: absolute;
    content: "";
    width: 60px;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(162, 195, 62);
    top: -8px;
    left: 0px;
}
.but{
    background-color: var(--bacgroundblue);
    padding: 3px;
    color: white;
    border: none;
    border-radius: 10px;
}
.hover-1 {
    transition: all 0.5s;
}

.hover-1:hover {
    background-color: rgba(128, 128, 128, 0.14);
    
}
.hover-1-white {
    transition: all 0.5s;
}

.hover-1-white:hover {
    background-color: #8e9399;
    
}
.foot{
    border-top: 1px solid rgba(0, 0, 0, 0.109);
}
.left-content{
    padding: 10px;
    margin: 10px;
    padding-left: 10px;
    color: gray;
}
.rigt-content{
    padding: 10px;
    margin: 10px;
}
.ab{
    padding: 10px;
}
.tent{
    padding: 10px;
}
.suportive{
    padding: 10px;
}